* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206vh;
    height: 48vw;
}
.container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150vh;
    height: 38vw;
    background-color: blanchedalmond;
    flex-direction: column;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecalho {
    display: flex ;
    justify-content:space-between;
    width: 100%;
    height: 5%;
    background-color: rgb(48, 48, 48);
    border-radius: 1rem 1rem 0 0;
}

.funcoes {
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 35%;
    height: 100%;
    column-gap: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 1%;

}

.saida {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
    column-gap: -2%;
}

.minimizar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 100%;
    font-size: 1.45rem;
    padding: 2%;
    color: white;
}

.tela-cheia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 100%;
    font-size: 1.35rem;
    padding: 2%;
    color: white;
}

.sair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 100%;
    font-size: 2rem;
    padding: 2%;
    color: white;
}

.segundo-cabecalho {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(48, 48, 48);
}

.retangulo {
    display: flex;
    justify-content: start;
    align-items: center;
    border: solid 0.1rem;
    color: white;
    width: 25%;
    height: 100%;
    border-color: black;

}

.dicionario {
    font-size: 1.2rem;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.informacoes {
    width: 70%;
    height: 90%;

}
.seta {

    color: white;
    width: 20%;
    text-align: end;
    padding-right: 5%;

}

.meio {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;

}

.meio-um {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 24.8%;
    height: 100%;
    flex-direction: column;
    border: solid 0.1rem;
    border-color:  rgb(167, 167, 167);
}

.changes-history {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
    padding-top: 1.2%;
}

.changes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.chan {
    border: solid 0.1rem;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 2%;
    border-color: rgb(167, 167, 167);
    border-top: 0;
    
}

.hist {
    border: solid 0.1rem;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 2%;
    border-color: rgb(167, 167, 167);
    border-top: 0;
}

.pai-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 13%;
    border: solid 0.1rem;
    border-color:  rgb(167, 167, 167);
    border-top: 0;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;

}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem 0 0 0.3rem;
    border: solid 0.1rem;
    border-color: rgb(94, 94, 94);
    width: 35%;
    height: 90%;
    font-size: 1.2rem;
    
}

#filt {
    padding-top: 3%;
    font-size: 1.5rem;
}

.filtro {
    width: 100%;
    height: 90%;
    border-radius: 0 0.3rem 0.3rem 0;
    border: solid 0.1rem;
    border-color: rgb(94, 94, 94);
}

.changed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

.quant-changes {
    width: 70%;
    height: 50%;
    padding-right: 20%;
    padding-bottom: 1.6%;
}

.meio-branco {
    width: 100%;
    height: 55%;
    border: solid 0.1rem;
    border-color:  rgb(167, 167, 167);
    border-right: 0;
    border-left: 0;
    border-top: 0;

}


.rodape {
    width: 100%;
    height: 38%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-left: 5%;
    row-gap: 2%;
}

.primeira-parte {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 2%;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 17%;
    height: 100%;
    padding-top: 1%;
    padding-left: 2%;

}

img {
    width: 60%;
    height: 70%;
    border-radius: 2rem 2rem 2rem 2rem;
}

.obrigatorio {
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    border: solid 0.1rem;
    border-color:  rgb(167, 167, 167);
    width: 69%;
    height: 70%;
    padding-left: 2%;
}

.descricao {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    border: solid 0.1rem;
    border-color:  rgb(167, 167, 167);
    background-color: white;
    

}

.desc {
    border: 0;
    padding-left: 5%;
}