* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206vh;
    height: 48vw;
}
.container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150vh;
    height: 38vw;
    background-color: blanchedalmond;
    flex-direction: column;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecalho {
    display: flex ;
    justify-content:space-between;
    width: 100%;
    height: 5%;
    background-color: rgb(48, 48, 48);
    border-radius: 1rem 1rem 0 0;
}

.funcoes {
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 35%;
    height: 100%;
    column-gap: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 1%;

}

.saida {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
    column-gap: -2%;
}

.minimizar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 100%;
    font-size: 1.45rem;
    padding: 2%;
    color: white;
}

.tela-cheia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 100%;
    font-size: 1.35rem;
    padding: 2%;
    color: white;
}

.sair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 100%;
    font-size: 2rem;
    padding: 2%;
    color: white;
}

.segundo-cabecalho {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(48, 48, 48);
}

.retangulo {
    display: flex;
    justify-content: start;
    align-items: center;
    border: solid 0.1rem;
    color: white;
    width: 25%;
    height: 100%;
    border-color: black;

}

.dicionario {
    font-size: 1.2rem;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.informacoes {
    width: 70%;
    height: 90%;

}
.seta {

    color: white;
    width: 20%;
    text-align: end;
    padding-right: 5%;

}

.meio {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    border-style: groove;
}

.meio-um {
    display: flex;
    justify-content: start;
    align-items: start;
    border-style:groove;
    width: 20%;
    height: 100%;
    flex-direction: column;
}

.changes-history {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
    border: solid 0.1rem;
}

.changes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}