* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    
    
    width: 206vh;

    
    height: 45vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 50%;
    
    border-radius: 50%;
    row-gap: 50%;

}


.container .instagram {
    
    border-radius: 100% 10% 10% 10%;
    position:absolute;
    width: 48%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: white;
    box-shadow: 0rem 0.2rem 0.1rem 0.1rem rgb(116, 116, 116) ;
    transition: all 0.2s ease;
    color: rgb(189, 85, 163);
}

.container .twitter {
    background-color: white;
    border-radius: 10% 100% 10% 10%;
    position:absolute;
    width: 48%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(0, 183, 255);
    left: 52%;
    box-shadow: 0rem 0.2rem 0.1rem 0.1rem rgb(116, 116, 116) ;
    transition: all 0.2s ease;
}

.container .discord {
    background-color: white;
    border-radius: 10% 10% 100%  10%;
    position:absolute;
    width: 48%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    top: 52%;
    left: 52%;
    box-shadow: 0rem 0.2rem 0.1rem 0.1rem rgb(116, 116, 116) ;
    transition: all 0.2s ease;
    color: rgb(55, 124, 189);
}

.container .git {
    background-color: white;
    border-radius: 10% 10% 10% 100% ;
    position:absolute;
    width: 48%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    top: 52%;
    box-shadow: 0rem 0.2rem 0.1rem 0.1rem rgb(116, 116, 116) ;
    transition: all 0.2s ease;

    
}

.instagram i {
    padding-top: 15%;
    padding-left: 10%;

}

.twitter i {
    padding-top: 15%;
    padding-right: 15%;
}

.git i {
    padding-bottom: 10%;
    padding-left: 10%;
}

.discord i {
    padding-bottom: 10%;
    padding-right: 15%;
}

.instagram:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(189, 85, 163);
}

.git:hover {
    transform: scale(1.1);
    color: white;
    background-color: black;
}

.twitter:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(0, 183, 255);
}

.discord:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(55, 124, 189);
}