* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(#686e74,#343a40, #212529 );
    width: 208vh;
    height: 47vw;
}



.sessao2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:sans-serif;
}

.cabecalho {
    width: 101.1%;
    height: 5%;
    border: solid 0.1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(39, 39, 39);
    border: 0;
}

.cabecalho-funcoes {

    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    color: white;
    text-decoration: none; 
    width: 100%;
    height: 90%;
    text-align: center;
    padding-top: 15%;
    transition: all 0.2s ease;
}

.about {
    color: rgb(0, 174, 255);
    text-decoration: none;
    width: 100%;
    height: 90%;
    text-align: center;
    padding-top: 15%;
    transition: all 0.2s ease;

}

.portofolio {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 90%;
    text-align: center;
    padding-top: 15%;
    transition: all 0.2s ease;
}

.main {
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.descricao {
    padding-left: 3%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
    row-gap: 2%;
}

.titulo {
    width: 20%;
    height:5% ;
}
.desc1 {
    width: 80%;
    height: 10%;
}

.desc {
    width: 80%;
    height: 15%;
}
.informacoes {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.enfeite {

    width: 16%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10%;

}

.enfeite1 {

    width: 16%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10%;
    padding-top: 10%;
}

.endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 85%;
    border-style: groove;
    border-radius: 4rem 4rem 4rem 4rem;
    transition: all 0.2s ease;
}

.ende {
    font-size: 1.5rem;
}

.circulo {

    width: 80%;
    height: 25%;
    border-radius: 5rem 5rem 5rem 5rem;
    transition: all 0.2s ease;
    background-color: white;
}

.enfeite-oval {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 16%;
    height: 50%;

    padding-top: 5%;
}

.oval {
    width: 80%;
    height: 100%;
    border-style: groove;
    border-radius: 4rem 4rem 4rem 4rem;
    transition: all 0.2s ease;
    background-color: black;
    
}

.circulo1 {
    width: 80%;
    height: 75%;
    border-style: groove;
    border-radius: 4rem 4rem 4rem 4rem;
    transition: all 0.1s ease;
    box-shadow: 0rem 0.2rem 0.5rem 0.2rem rgb(114, 114, 114);
}


.home:hover {
    transform: scale(1.1);
    animation: cor-fundo 0.5s linear infinite;
    box-shadow: 0rem 0.2rem 0.5rem 0.2rem rgb(114, 114, 114);
}

.about:hover {
    transform: scale(1.1);
    animation: cor-fundo 0.5s linear infinite;
    box-shadow: 0rem 0.2rem 0.5rem 0.2rem rgb(114, 114, 114);

}
.portofolio:hover {
    transform: scale(1.1);
    animation: cor-fundo 0.5s linear infinite;
    box-shadow: 0rem 0.2rem 0.5rem 0.2rem rgb(114, 114, 114);
}

.endereco:hover {
    transform: scale(1.1);
    animation: cor-fundo 0.5s linear infinite;
    box-shadow: 0rem 0.2rem 0.5rem 0.2rem rgb(114, 114, 114);
}

.oval:hover {
    animation: tamanho-largura 2s linear infinite;
    box-shadow: 0rem 0.2rem 0.5rem 0.2rem rgb(114, 114, 114);
}

.circulo:hover {
    animation: borda 2s linear infinite;
    box-shadow: 0rem 0.2rem 0.5rem 0.2rem rgb(114, 114, 114);
}
.circulo1:hover {
    animation: borda 2s linear infinite;
}

@keyframes borda {
    0% {
        border-radius: 5rem 5rem 5rem 2rem;
    }

    10% {
        border-radius: 2rem 5rem 5rem 5rem;
    }

    20% {
        border-radius: 2rem 2rem 5rem 5rem;
    }

    30% {
        border-radius: 5rem 2rem 2rem 5rem;
    }

    40% {
        border-radius: 5rem 5rem 2rem 2rem;
    }
    50% {
        border-radius: 2rem 5rem 5rem  2rem;
    }
    60% {
        border-radius:  2rem 2rem 5rem 5rem;
    }
    70% {
        border-radius: 5rem 2rem 2rem 5rem;
    }
    80% {
        border-radius: 5rem 5rem  2rem 2rem;
    }
    90% {
        border-radius: 2rem  5rem 5rem 2rem;
    }
    100% {
        border-radius: 2rem 2rem 5rem 5rem;
    }
}

@keyframes tamanho-largura {
    0% {
        width: 80%;
        height: 70%;
    }
    25% {
        width: 90%;
        height: 60%;
    }
    50% {
        width: 60%;
        height: 100%;
    }
    100% {
        width: 80%;
        height: 70%;
    }
}


@keyframes cor-fundo {
    0% {
        background-image: linear-gradient(to right, rgb(105, 105, 105), rgb(56, 56, 56));
    }
    25% {
        background-image: linear-gradient(to top,rgb(105, 105, 105), rgb(56, 56, 56));
    }
    75% {
        background-image: linear-gradient(to left, rgb(105, 105, 105), rgb(56, 56, 56));
    }
    100% {
        background-image: linear-gradient(rgb(105, 105, 105), rgb(56, 56, 56));
    }
}