body {
    background-image: linear-gradient(to right, rgb(126, 124, 124), rgb(70, 69, 69), rgb(49, 49, 49));
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 5%;
    width: 206vh;
    height: 7vh;
    transition: all 1s ease;
}

.home {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.about {
    color: rgb(192, 80, 6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.portofolio {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 1s ease;
}

.contact {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.botaocontato {
    border-color: rgb(192, 80, 6);
    background-color: transparent;
    color: rgb(192, 80, 6);
    width: 10%;
    height: 80%;
    border-radius: 5% 35%;
    transition: all 0.5s ease;
}

.pagina2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206vh;
    height: 90vh;
    border-top: 0.1vh solid;
    border-color: rgb(192, 80, 6);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150vh;
    height: 70vh;
    margin-top: -10%;
    transition: all 1s ease;
}
.minhaimagem {
    width: 40%;
    height: 85%;
    margin-right: 55%;
    margin-top: -7%;
    border-radius: 1%;
    box-shadow: 0vh 0vh 0.5vh 0.4vh rgb(0, 0, 0);
    transition: all 1s ease;
}

.informacoes {
    margin-left: 45%;
    margin-top: -40%;
    width: 80vh;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descobrir {
    font-size: 150%;
    color: rgb(192, 80, 6);
}

.sobremim {
    color: white;
    margin-top: -3%;
}

.texto {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infopessoal {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    border-style: groove;
    border-color:  rgb(192, 80, 6);
    width: 78vh;
    height: 8vh;
    margin-left: 45%;
    padding: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.nomeidade {
    width: 40vh;
    height: auto;
}
.nome {
    padding: 2%;
}
.idade {
    padding: 2%;
}

.enderecoexp {
    width: 40vh;
    height: auto;
}

.endereco {
    padding: 2%;
}

.experiencia {
    padding: 2%;
}



.header:hover {
    width: 206vh;
    height: 9vh;
}


.container:hover {
    width: 160vh;
    height: 75vh;
}

.minhaimagem:hover {
    width: 42%;
    height: 88%;
    box-shadow: 0vh 0vh 0.8vh 0.6vh rgb(0, 0, 0);
}


.home:hover {
    color: rgb(192, 80, 6);
    font-size: 120%;
}

.about:hover {
    color: rgb(192, 80, 6);
    font-size: 120%;
}

.portofolio:hover {
    color: rgb(192, 80, 6);
    font-size: 120%;
}

.contact:hover {
    color: rgb(192, 80, 6);
    font-size: 120%;
}

.botaocontato:hover {
    width: 11%;
    height: 85%;
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgb(255, 255, 255);
}
