
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left, rgb(40, 40, 46), rgb(64, 64, 94), rgb(61, 52, 61));
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 5%;
    width: 206vh;
    height: 7vh;
    transition: all 1s ease;
}

.home {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.about {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.portofolio {
    color: rgb(192, 80, 6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 1s ease;
}

.contact {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.botaocontato {
    border-color: rgb(192, 80, 6);
    background-color: transparent;
    color: rgb(192, 80, 6);
    width: 10%;
    height: 80%;
    border-radius: 5% 35%;
    transition: all 0.5s ease;
}

.pagina3 {
    position:absolute;
    background-image: linear-gradient(to left, rgb(40, 40, 46), rgb(64, 64, 94), rgb(61, 52, 61));
    width: 205vh;
    height: 90vh;
    border-style: groove;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;

}



.tecnologiasusadas {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    width: 40%;
    height: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

.tecs {
    width: 50%;
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;    

    flex-direction: column;
}


.tecnologias {
    text-align: center;
    color: white;

}


.py {
    padding: 10%;
    width: 60%;
    height: 15%;
    background-image: linear-gradient(to right, rgb(26, 26, 133), rgb(141, 141, 29));
    text-align: center;
    font-size: 120%;
    color: white;
    border-radius: 5vh;
    transition: all 0.2s ease;
}

.postgresql {
    padding: 10%;
    width: 60%;
    height: 15%;
    background-image: linear-gradient(to right, rgb(26, 26, 133), rgb(15, 13, 167));
    text-align: center;
    font-size: 120%;
    color: white;
    border-radius: 5vh;
    transition: all 0.2s ease;
}


.js {
    padding: 10%;
    width: 60%;
    height: 15%;
    background-image: linear-gradient(to right, rgb(147, 177, 40), rgb(179, 216, 13));
    text-align: center;
    color: white;
    font-size: 120%;
    border-radius: 5vh;
    transition: all 0.2s ease;
}

.html {
    padding: 10%;
    width: 60%;
    height: 15%;
    background-image: linear-gradient(to right, rgb(202, 127, 29), rgb(255, 81, 0));
    text-align: center;
    color: white;
    font-size: 120%;
    border-radius: 5vh;
    transition: all 0.2s ease;
}

.css {
    padding: 10%;
    width: 60%;
    height: 15%;
    background-image: linear-gradient(to right, rgb(29, 118, 202), rgb(0, 47, 255));
    text-align: center;
    font-size: 120%;
    color: white;
    border-radius: 5vh;
    transition: all 0.2s ease;
}


.miniprojetos {
    width: 20%;
    height: 15%;

    text-align: center;
    border-style: groove;
}
.geral {
    width: 70%;
    height: 100%;
    border-style: groove;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
}


.pai {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    

}

.filho {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    

}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: white;
    width: 100%;
    height: 55%;
    background-color: aquamarine;
    transition: all 0.2s ease;
    
}

.descricao {
    background-color: transparent;
    width: 100%;
    height: 86%;
    color: transparent;
    box-shadow: 0vh 1.7vh 1vh 0.5vh rgb(90, 84, 84);
    transition: all 0.2s ease;
}

.texto {
    text-align: center;
    width: 100%;
    height: 86%;
}


.titulo:hover {
    transform: translateY(-50%);
}

.descricao:hover {
    transform: translateY(85%);
    color: black;
    background-color: white;
}




.descricao:hover {
    color: black;
    transform: translateY(60%);
    z-index: 1;
}
.py:hover {
    width: 85%;
    height: 35%;
    background-image: linear-gradient(to right, rgb(3, 3, 92),rgb(61, 61, 165), rgb(255, 255, 0));
    border-radius: 0vh;
    box-shadow: 0vh 0vh 0.2vh 0.2vh rgb(0, 0, 0);
}

.postgresql:hover {
    width: 85%;
    height: 35%;
    background-image: linear-gradient(to right, rgb(0, 0, 117), rgb(15, 13, 167));
    border-radius: 0vh;
    box-shadow: 0vh 0vh 0.2vh 0.2vh rgb(0, 0, 0);
}

.js:hover {
    width: 85%;
    height: 35%;
    background-image: linear-gradient(to right, rgb(164, 190, 14), rgb(208, 255, 1));
    border-radius: 0vh;
    box-shadow: 0vh 0vh 0.2vh 0.2vh rgb(0, 0, 0);
}

.html:hover {
    width: 85%;
    height: 35%;
    background-image: linear-gradient(to right, rgb(255, 145, 0), rgb(255, 81, 0));
    border-radius: 0vh;
    box-shadow: 0vh 0vh 0.2vh 0.2vh rgb(0, 0, 0);
}

.css:hover {
    width: 85%;
    height: 35%;
    background-image: linear-gradient(to right, rgb(0, 116, 224), rgb(0, 35, 190));
    border-radius: 0vh;
    box-shadow: 0vh 0vh 0.2vh 0.2vh rgb(0, 0, 0);
}

