body {
    background-image: linear-gradient(to left, rgb(40, 40, 46), rgb(64, 64, 94), rgb(61, 52, 61));
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 5%;
    width: 206vh;
    height: 7vh;
    transition: all 1s ease;
}

.home {
    color: rgb(192, 80, 6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.about {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.portofolio {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 1s ease;
}

.contact {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

.botaocontato {
    border-color: rgb(192, 80, 6);
    background-color: transparent;
    color: rgb(192, 80, 6);
    width: 10%;
    height: 80%;
    border-radius: 5% 35%;
    transition: all 0.5s ease;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 206vh;
    height: 70vh;
    border-top: 0.1vh solid;
    border-color: rgb(192, 80, 6);
}

.imagemgit {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.nome {
    text-align: center;
    font-size: 400%;
    width: 20%;
    height: 15%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(192, 80, 6);
}

.subtitulo {
    color: white;
    margin-top: -3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header:hover {
    width: 206vh;
    height: 9vh;
}
.home:hover {
    color: rgb(192, 80, 6);
    font-size: 120%;
}

.about:hover {
    color: rgb(192, 80, 6);
    font-size: 120%;
}

.portofolio:hover {
    color: rgb(192, 80, 6);
    font-size: 120%;
}

.contact:hover {
    color: rgb(192, 80, 6);
    font-size: 120%;
}

.botaocontato:hover {
    width: 11%;
    height: 85%;
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgb(255, 255, 255);
}


