body {
    background-image: linear-gradient(to right, rgb(88, 16, 88), purple, rgb(61, 0, 61));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 42rem;
    margin-top: 5%;
    
}

.container {
    display: flex;
    width: 75rem;
    height: 35rem;
    background-image: linear-gradient(to right, rgb(44, 44, 141), rgb(131, 38, 252),  rgb(31, 0, 82));

}

.titulo {
    color: white;
    margin: 17% 11%;
}