h1 {
    width: 800px; /*largura -> width */
    height: 50px; /* altura -> heigth */
    text-align: center; /* centraliza o texto */
    background-color: black;
    color: white;
    border-radius: 20px; /* borda */
    box-shadow: 0px 10px 15px  rgba(255, 10, 10); /* sombra */
    margin: 10px auto; /* margens se ajustam */
}
div.divisor {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 800px;
    border-radius: 20px;
    box-shadow: 0px 20px 30px rgba(255, 10, 10);
    margin: 20px auto;
}

div.butao {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: red;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    margin: 25px auto;
    box-shadow: 0px 15px 20px rgb(129, 0, 0);
}

button:hover {
    background-color: blue;
}