body {
    background-image: linear-gradient(rgb(58, 13, 58), rgb(34, 34, 78));
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25% auto;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    color: white;
    font-size: 300%;
    margin: 1% auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 1s ease;
    
}

p {
    margin: 0.4%;
    padding-left: 10px;
    padding-top: 10px;
    width: 250px;
    height: 30px;
    background-color: rgb(56, 58, 66);
    color: rgb(202, 181, 181);
    text-size-adjust:unset;
    border-radius: 0.5cap;
    border-style: groove;
    border-color: rgb(63, 63, 63);
    text-overflow:clip;
    transition: all 0.5s ease;
}

button {
    margin: 0.4%;
    background-color: rgb(74, 176, 216);
    color: white;
    width: 265px;
    height: 40px;
    border-radius: 0.5cap;
    transition: all 1s ease;
    
}

h1:hover {
    background: linear-gradient(rgb(185, 4, 185), purple, rgb(66, 0, 66), black);
    background-clip: text;
    color: transparent;
    text-shadow: rgb(255, 255, 255);

}

button:hover {
    background-image: linear-gradient(rgb(185, 4, 185), purple, rgb(66, 0, 66), black);
    color: blueviolet;
    box-shadow: 0vh 0vh 1vh 0.1vh rgb(255, 255, 255);
    width: 275px;
    
}

p:hover {
    width: 275px;
    background-image: linear-gradient(rgb(185, 4, 185), purple, rgb(66, 0, 66), black);
    color: blueviolet;
    box-shadow: 0vh 0vh 1vh 0.1vh rgb(255, 255, 255);

}