body {
    background-color: rgb(58, 87, 218);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 97, 97);
    width: 125vh;
    height: 80vh;
    margin: 5% auto;
}

.alinhar {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: black;
    width: 65vh;
    height: 80vh;
    margin-right: auto;
    text-align:left;
}

.apresent {
    background-color: rgb(34, 34, 117);
    width: 65vh;
    height: 80vh;
    color: white;
    margin-right: auto;

}

.saudacao {
    font-size: 8vh;
    margin: 27vh 10vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}