body {
    background-color: rgb(58, 87, 218);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 97, 97);
    width: 125vh;
    height: 80vh;
    margin: 5% auto;
}

.alinhar {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: black;
    width: 65vh;
    height: 80vh;
    margin-right: auto;

}
/* .apresent {
    background-color: rgb(34, 34, 117);
    width: 75vh;
    height: 30vh;
    text-align: center;
    color: white;
    font-size: 10vh;
    margin-right: auto;

} */