body {
    background-image: linear-gradient(to right, rgb(79, 97, 182), rgb(27, 27, 175));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 97, 97);
    width: 50rem;
    height: 30rem;
    margin: 10% auto;
    box-shadow: 0rem 0rem 2rem 1rem rgb(0, 0, 255);
}

.alinhar {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: rgb(134, 26, 26);
    width: 25rem;
    height: 30rem;
    margin-right: auto;
    text-align:left;
}

.apresent {
    background-image: linear-gradient(to right, rgb(79, 97, 182), rgb(27, 27, 175));
    width: 25rem;
    height: 30rem;
    color: white;
    margin-right: auto;
}

.saudacao {
    font-size: 4rem;
    margin: 10rem 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.mensagem {
    margin: -8rem 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.login {
    background-color: rgb(255, 255, 255);
    width: 25rem;
    height: 30rem;
    color: white;
    margin-right: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.email {
    background-color: white;
    color: rgb(79, 97, 182);
    width: 20rem;
    height: 3rem;
    border-color: rgb(79, 97, 182);
    border-style:groove;
    border-radius: 0.3rem;
    margin: 7rem 2rem;
}

.emailsenha {
    padding: 0.5rem;
    font-size: 0.8rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.senha {
    background-color: white;
    color:rgb(79, 97, 182);
    width: 20rem;
    height: 3rem;
    border-color: rgb(79, 97, 182);
    border-style:groove;
    border-radius: 0.3rem;
    margin: -6.5rem 2rem;
}

.botoes {
    margin: 10rem 2rem;
}

.btlogin {
    background-color: rgb(79, 97, 182);
    color: white;
    border-color: transparent;
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
}

.sign {
    background-color: white;
    color: rgb(79, 97, 182);
    border-color: rgb(79, 97, 182);
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
}

