/* .container {
    background-color: rgb(17, 0, 255);
    width: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: auto;
    gap: 10px;

}

.pag1 {
    width: 206.3vh;
    height: 100vh;
    background-color: rgb(17, 0, 255);
    border-style: groove;
    border-color: black;
    display: flex;
    
}

.lado1 {
    width: 100vh;
    height: 100vh;
    background-image: linear-gradient( to right, rgb(43, 3, 43), rgb(52, 0, 136), rgb(87, 10, 87));
}
img {
    width: 100vh;
    height: 100vh;
}
.pag2 {
    width: 100px;
    height: 100px;
    background-color: black;
} */